 <%= will_paginate %>
 <% if current_user%>
<div class='hero-unit'>
<h4>Paid Teams</h4> 
<%= form_tag approve_teams_path, action: 'approve', method: :put do %>
<table>
  <tr> 
  	<% if current_user.admin ==nil %>
  	<% else %>
  	<th></th>
  	<% end %>
  	<th></th>
    <th>Name</th><th>  | Tag</th>
    <th>|Team Capt | </th>
    <th>Summoner</th>
 
    <th>|  Paid</th>
    <!-- <th>|  Valid Emails</th> -->
   

  </tr>
<% counter = 0%>
<% @teams.each do |team| %>

  <tr>
  	<td></td>
 <% if current_user.admin != nil%>
  	 <td> <%= check_box_tag "team_ids[]", team.id %> </td>
  	 <% end %>
  	 <% counter += 1 %>
    <td><%= counter %>. <%=   team.name %>  </td>
  
    <td>[<%= team.tag %>]</td>
    <td><%= team.teamcapt %> </td>
    <td> <%= team.player1%>  </td>
    <td>
   	 <%= team.verify ? 'yes' : 'No' %>
   </td> 

</td>
<% if current_user.admin %>
    
    	<td>
    		</td>
    <% end %>
    	
    	
    <td><%= link_to 'Show  ', team %></td>
    <% if current_user.admin|| team.user_id== current_user.id %>
    <td><%= link_to '|   Edit  |', edit_team_path(team) %></td>
    <% end %>
<% if current_user.admin %>
     
    <td><%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if current_user.admin %>
<%= submit_tag "Change to Paid" %> 
<br />
<%= link_to 'New Team', new_team_path %>
<% end %>

<%end %>
</div> 
<% else%>
<div class='hero-unit'>
<h4>Paid Teams</h4> 
<%= form_tag approve_teams_path, action: 'approve', method: :put do %>
<table>
  <tr> 
 
  	<th></th> 
  	<th></th>
    <th>Name</th><th>  | Tag</th>
    <th>|Team Capt | </th>
    <th>Summoner</th>
 
    <th>|  Paid</th>
    <!-- <th>|  Valid Emails</th> -->
   

  </tr>
<% counter = 0%>
<% @teams.each do |team| %>

  <tr>
  	<td></td>
 
  	 <% counter += 1 %>
    <td><%= counter %>.  <%=   team.name %>  </td>
   <td> [<%= team.tag %>] </td>
    <td><%= team.teamcapt %> </td>
    <td><%= team.player1%>  </td>
   
    <td>
   	 <%= team.verify ? 'yes' : 'No' %>
   </td> 

</td> 
    	   <td><%= link_to '|   Edit  |', edit_team_path(team) %></td>
    <td><%= link_to 'Show  ', team %></td>


 
  </tr>
<% end %>
</table>

<br />
 

<%end %>
</div> 


<% end %>
 <%= will_paginate %>
