 
<div class='dbox'>
<h4>Paid Teams</h4> 
<%= form_tag approve_teams_path, action: 'approve', method: :put do %>
<table>
  <tr> <% if current_user.admin %>
  	<th></th>
  	<% end %>
  	<th></th>
    <th>Name</th>
    <th>|Team Capt | </th>
    <th>  Summoner</th>
 <th>  |  Email</th>
    <th>|  Paid</th>
    <th>|  Valid Emails</th>
   

  </tr>

<% @teams.each do |team| %>
  <tr>
  	<td></td>
 <% if current_user.admin %>
  	 <td> <%= check_box_tag "team_ids[]", team.id %> </td>
  	 <% end %>
    <td><%= team.name %></td>
    <td><%= team.teamcapt %></td>
    <td><%= team.player1%></td>
    <td><%= team.email1 %></td>
    <td> <% if (team.email1.include? "tamu.edu" or team.email1.include? "blinn.edu") and (team.email2.include? "tamu.edu" or team.email2.include? "blinn.edu")  and (@team.email3.include? "tamu.edu" or @team.email3.include? "blinn.edu" ) and (team.email4.include? "tamu.edu" or team.email4.include? "blinn.edu") & ( team.email5.include? "tamu.edu" or team.email5.include? "blinn.edu" )  %>
    	Yes
    	<% else %>
    	No
    	<% end %>
    	
    </td>
   <td>
   	 <%= team.verify ? 'yes' : 'No' %>
   </td>
<% if current_user.admin %>
    
    	
    <% end %>
    	
    	
    <td><%= link_to 'Show  ', team %></td>
    <% if current_user.admin|| team.user_id== current_user.id %>
    <td><%= link_to '|   Edit  |', edit_team_path(team) %></td>
    <% end %>
<% if current_user.admin %>
     
    <td><%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if current_user.admin %>
<%= submit_tag "Approve Checked" %> 
<br />
<% end %>
<%= link_to 'New Team', new_team_path %>
<%end %>
</div> 

