 
<div class="center hero-unit">
	<% if current_user %>
<h2>Team Sign Up</h2>
 All Teams pay the Registration fee of $50
<%= form_for @team do |f| %>
 <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :name , "*Team  Name"%><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :tag , "*Team Tag 4 char max"%><br />
    <%= f.text_field :tag %>
  </div>
      <div class="field">
    <%= f.label :bio , "Team Description"%><br />
    <%= f.text_area :bio, rows: 5 %>
  </div> 
  Casual or Competitive<br />
  There will be two seprate prize pools for each tournament. Recommended average team elo should be high than  gold III
  <br />
  <br />
   <div class="field">

    <%= f.label :casual, "casual", :value => "casual"  %>
    <%= f.radio_button :casual, 'casual' %>
  </div>
  <div class="field">
    <%= f.label :casual, "competitive" %>
    <%= f.radio_button :casual, 'competitive' %>
    </div>
  <%= f.check_box :tos%> <%= link_to 'Season Rules', '/rules' %><br />
 <%= f.submit  %>

  <% end %> 
<% else %>

  <%= link_to "Log into Face Book to get in ", "/auth/facebook", id: "sign_in" %>
<%end%>

</div>
 