 
<div class="center hero-unit">
<h2>Team Sign Up</h2>
<h4>All Teams pay the Registration fee of $40 or  $30 if 5 members are A&M Esports members</h4>
<%= form_for @team do |f| %>
 <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :name , "*Team  Name"%><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :tag , "*Team Tag 4 char max"%><br />
    <%= f.text_field :tag %>
  </div>
      <div class="field">
    <%= f.label :bio , "Team Bio"%><br />
    <%= f.text_area :bio, rows: 5 %>
  </div>
   
  <%= f.check_box :tos%> <%= link_to 'Season Rules', '/rules' %><br />
 <%= f.submit  %>
  <% end %> 

</div>
 