<div class="span6 offset6"> 

<h2>Team Sign Up</h2>
<%= form_for @team do |f| %>
 <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :name , "*Team  Name"%><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :tag , "*Team Tag 5 char max"%><br />
    <%= f.text_field :tag %>
  </div>
      <div class="field">
    <%= f.label :bio , "Team Bio"%><br />
    <%= f.text_area :bio, rows: 5 %>
  </div>
 <%= link_to "  Next ---> ",team_steps_path(:id =>  'capt', :team_id => @team.id), :class => 'btn btn-primary' %>
  <% end %>

</div>
