 
<div class="center hero-unit">
	<% if current_user %>
<h2>Team Sign Up</h2>
 All Teams pay the Registration fee of $25 if 5 members are A&M Esports members 
<%= form_for @team do |f| %>
 <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :name , "*Team  Name"%><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :tag , "*Team Tag 4 char max"%><br />
    <%= f.text_field :tag %>
  </div>
      <div class="field">
    <%= f.label :bio , "Team Bio"%><br />
    <%= f.text_area :bio, rows: 5 %>
  </div>
   
  <%= f.check_box :tos%> <%= link_to 'Season Rules', '/rules' %><br />
 <%= f.submit  %>

  <% end %> 
<% else %>
Log into Face Book to get in
 <li><%= link_to "Facebook Signin", "/auth/facebook", id: "sign_in" %></li>
<%end%>

</div>
 