 
<div class="dbox">
<br />
 <h3>
   Team Name:</h3>
  <h4> <%= @team.name %>  [<%= @team.tag %>]</h4>
  
 <br />
 <br />
 <% if current_user.admin or current_user.id==@team.user_id%>
<p>
<b>Team Capt: </b> <%= @team.teamcapt %> | <%= @team.player1 %>  | <%= @team.email1 %>  | <%= link_to 'Edit', team_steps_path(:id =>  'capt', :team_id => @team.id)%>
  
</p>
<p>
	<b>Player 2: </b> <%= @team.name2 %> | <%= @team.player2 %>  |<%= link_to 'Edit', team_steps_path(:id =>  'play2', :team_id => @team.id)%>
</p>
 
<p>
	<b>Player 3: </b> <%= @team.name3%>  | <%= @team.player3 %> |<%= link_to 'Edit', team_steps_path(:id =>  'play3', :team_id => @team.id)%>
</p>
 
 <p>
	<b>Player 4: </b> <%= @team.name4 %>  | <%= @team.player4 %> |<%= link_to 'Edit', team_steps_path(:id =>  'play4', :team_id => @team.id)%>
</p>
 
 <p>
	<b>Player 5: </b> <%= @team.name5 %>  | <%= @team.player5 %> |<%= link_to 'Edit', team_steps_path(:id =>  'play5', :team_id => @team.id)%>
</p>
  <p>
	<b>Subs  :<% if @team.name6.blank?  == false%>
		</b> <%= @team.name6 %> | <%= @team.player6%>  
		<% end %>
		<br />
		<%if @team.name7.blank? == false %>and <br />
		  <%= @team.name7%> | <%= @team.player7 %> <%end %><br />
		  <%= link_to 'Edit', team_steps_path(:id =>  'subs', :team_id => @team.id)%>
</p>
<p><b> Elo Representive: </b><%= @team.teamelo%>  </p>
<p>
	Secondary Contacts:
	<br />
	1. <%= @team.sec_name%> 
	<br />
	2. <%= @team.third_name%> 
	<br />
	 <%= link_to 'Edit', team_steps_path(:id =>  'backup', :team_id => @team.id)%>
</p>
 <p>Team Bio:
 	<%= simple_format @team.bio %>
  
 	</p>

 	<% else %>
 	<p>
<b>Team Capt: </b> <%= @team.teamcapt %> | <%= @team.player1 %>   
  
</p>
<p>
	<b>Player 2: </b> <%= @team.name2 %> | <%= @team.player2 %>  
</p>
 
<p>
	<b>Player 3: </b> <%= @team.name3%>  | <%= @team.player3 %>  
</p>
 
 <p>
	<b>Player 4: </b> <%= @team.name4 %>  | <%= @team.player4 %>  
</p>
 
 <p>
	<b>Player 5: </b> <%= @team.name5 %>  | <%= @team.player5 %>  
</p>
  <p>
	<b>Subs  :<% if @team.name6.blank?  == false%>
		</b> <%= @team.name6 %> | <%= @team.player6%>  
		<% end %>
		<br />
		<%if @team.name7.blank? == false %>and <br />
		  <%= @team.name7%> | <%= @team.player7 %> <%end %><br />
</p>
<p><b> Elo Representive: </b><%= @team.teamelo%>  </p>
<p>
	Secondary Contacts:
	<br />
	1. <%= @team.sec_name%> 
	<br />
	2. <%= @team.third_name%> 
	<br />

</p>
 <p>Team Bio:
 	<%= simple_format @team.bio %>
  
 	</p>
 	<%end%>
 	<p>
 		<%= link_to 'Back', teams_path %>
 	</p>
 	<% if @team.email1 != nil%>
	 	<% if not ( @team.email1.include? "tamu.edu" or @team.email1.include? "blinn.edu" ) %>
	 	Team Captain email is not valid
	 	<% end %>
	 	<% end %>
 <br />
 <% if @team.email2 !=nil %>
	 	<% if not ( @team.email2.include? "tamu.edu" or @team.email2.include? "blinn.edu" ) %>
	 	
	 	Player 2's Email is not valid
	 	<% end %>
	 	<% end %>
	 	<br />
	 	<% if @team.email3 != nil %>
	 	<% if not ( @team.email3.include? "tamu.edu" or @team.email3.include? "blinn.edu" ) %>
	 	Player 3's Email is not valid
	 	<% end %>
	 	<% end%>
	 	<br />
	 	<% if @team.email4 !=nil%>
	 	<% if not ( @team.email4.include? "tamu.edu" or @team.email4.include? "blinn.edu" ) %>
	 	Player 4's Email is not valid
	 	<% end %>	
	 	<% end %>
	 	<br />
	 	<% @team.email5 != nil%>
	 	<% if not ( @team.email5.include? "tamu.edu" or @team.email5.include? "blinn.edu" ) %>
	 	Player 5's Email is not valid
	 	
	 	<% end %><br />	
	 	<% if not @team.verify%>
	 	Team has not paid yet
	 	<br />
	 	<a href="https://secure.touchnet.com/C21490_ustores/web/product_detail.jsp?PRODUCTID=4456">  Pay Now</a>
	 	<br />
	 	<% end %> 
</div>
 
