 
<div class="dbox">

 <h3>
   Team Name:</h3>
  <h3><%= @team.name %>, [ <%= @team.tag %> ]
  
</h3>
<p>
  <b>Teamcapt:</b> <%= @team.teamcapt %>  |<%= link_to 'Edit', team_steps_path(:id =>  'capt', :team_id => @team)%>
  
</p>
<p>
	<b>Player 2: </b> <%= @team.name2%>   |<%= link_to 'Edit', team_steps_path(:id =>  'play2', :team_id => @team.id)%>
</p>
 
<p>
	<b>Player 3: </b> <%= @team.name3%>   |<%= link_to 'Edit', team_steps_path(:id =>  'play3', :team_id => @team.id)%>
</p>
 
 <p>
	<b>Player 4: </b> <%= @team.name4%>   |<%= link_to 'Edit', team_steps_path(:id =>  'play4', :team_id => @team.id)%>
</p>
 
 <p>
	<b>Player 5: </b> <%= @team.name5%>   |<%= link_to 'Edit', team_steps_path(:id =>  'play5', :team_id => @team.id)%>
</p>
  <p>
	<b>Subs  :<% if @team.name6%>
		</b> <%= @team.name6%>  and<% end %>
		<%if @team.name7%>  <%= @team.name7%> <%end %>|<%= link_to 'Edit', team_steps_path(:id =>  'subs', :team_id => @team.id)%>
</p>
<p>
	Secondary Contacts:
	<br />
	1. <%= @team.sec_name%> 
	<br />
	2. <%= @team.third_name%> 
	<br />
	 <%= link_to 'Edit', team_steps_path(:id =>  'backup', :team_id => @team.id)%>
</p>
 <p>Team Bio:
 	<%= @team.bio %>
  
 	</p>
 	<%= link_to 'Edit All   ', edit_team_path(@team) %>
 	<p>
 		<%= link_to 'Back', teams_path %>
 	</p>
	 	<% if not ( @team.email1.include? "tamu.edu" or @team.email1.include? "blinn.edu" ) %>
	 	Team Captain email is not valid
	 	<% end %>
</div>
 
