<div class='hero-unit'>
<h1>Listing Send Messages</h1>
<% if current_user !=nil %>
 <% if   current_user.admin %>
 

	<% @messages.each do |message| %>
	   
	     <%= message.topic %> &nbsp 
	    <%= link_to '   Show | ', message %> 
	     <%= link_to 'Edit | ', edit_message_path(message) %>  
	     <%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %> <br />

	  
 <%end %>


<% else %>

 
  
	<% @messages.each do |message| %>
 
	  	 
	  	<% if current_user.name == message.creator %>
	     <%= message.topic %> &nbsp 
	    <%= link_to '   Show | ', message %> 
	     <%= link_to 'Edit | ', edit_message_path(message) %> 
	   <%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %> <br />

	  
	  <% end %>
	  <% end %>
 	  <% end %>
<% end %>
<br />

<%= link_to 'Send a new message', '/sendmessage' %>
 
</div>
