<p id="notice"><%= notice %></p>
<div class='hero-unit'>
<p>
  <b>Title:</b>
  <%= @message.topic %>
</p>
<p>
  <b>Message:</b>
  <%= @message.mess %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
</div>
