<div class="hero-unit">
<h1>Listing Raids Call Reports</h1>
Winning Team<br />
<br />
<%= will_paginate %>
<br />
<table>


<% @raids.each do |raid| %>
  <tr>
    <td><%= raid.player1 %> | </td>
    <td><%= raid.player2 %> | </td>
    <td><%= raid.player3 %> | </td>
    <td><%= raid.player4 %> | </td>
    <td><%= raid.player5 %> | </td> 
    <td><%= link_to 'Show', raid %></td>
    <% if current_user !=nil %>
    <% if current_user.admin%>
    <td><%= link_to 'Edit', edit_raid_path(raid) %> | </td>
    <td><%= link_to 'Destroy', raid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end%>
  <% end %>
  </tr>

</table>

<% end %>
<br />

<%= link_to 'New Raid', new_raid_path %>
<br />
<%= will_paginate %>
<br />
</div>