<div class="hero-unit">
<p id="notice"><%= notice %></p>

<p>
  <b>Name1:</b>
  <%= @raid.name1 %>
</p>

<p>
  <b>Player1:</b>
  <%= @raid.player1 %>
</p>

<p>
  <b>Name2:</b>
  <%= @raid.name2 %>
</p>

<p>
  <b>Player2:</b>
  <%= @raid.player2 %>
</p>

<p>
  <b>Name3:</b>
  <%= @raid.name3 %>
</p>

<p>
  <b>Player3:</b>
  <%= @raid.player3 %>
</p>

<p>
  <b>Name4:</b>
  <%= @raid.name4 %>
</p>

<p>
  <b>Player4:</b>
  <%= @raid.player4 %>
</p>

<p>
  <b>Name5:</b>
  <%= @raid.name5 %>
</p>

<p>
  <b>Player5:</b>
  <%= @raid.player5 %>
</p>

<p>
  <b>Player6:</b>
  <%= @raid.player6 %>
</p>

<p>
  <b>Name6:</b>
  <%= @raid.name6 %>
</p>

<p>
  <b>Name7:</b>
  <%= @raid.name7 %>
</p>

<p>
  <b>Player7:</b>
  <%= @raid.player7 %>
</p>

<p>
  <b>Name8:</b>
  <%= @raid.name8 %>
</p>

<p>
  <b>Player8:</b>
  <%= @raid.player8 %>
</p>

<p>
  <b>Name9:</b>
  <%= @raid.name9 %>
</p>

<p>
  <b>Player9:</b>
  <%= @raid.player9 %>
</p>

<p>
  <b>Name10:</b>
  <%= @raid.name10 %>
</p>

<p>
  <b>Player10:</b>
  <%= @raid.player10 %>
</p>


<%= link_to 'Edit', edit_raid_path(@raid) %> |
<%= link_to 'Back', raids_path %>
</div>
