 
	<div class="dbox">
		    <% if current_user.name== 'khoa'%>
    
		<h1>Admin Page</h1>
		<h3>View All 
			</h3>
		 	<%= link_to "Teams", teams_path %> <br />
		  <%= link_to "Users", users_path %><br />
		<% end %>
		<h3>Download </h3>
		 Users :  
  <%= link_to "Excel", users_path(format: "xls") %> <br />
 
  Full	Teams Info : <%= link_to "Excel", teams_path(format: "xls") %>
  <br />
  Captains:<%= link_to " Excel",  '/photos/capt'+'.xls'%> <br />
 Matches: <%= link_to " Excel",  '/print/match'+'.xls', :sort => "dayof"%> <br />
  Players: 
  Players 
 
  
  
  
  </div> 
