

<div class="span6 offset4"> 
<div class="center hero-unit">
	 
<%= form_for @team , url: wizard_path do |f| %>
  <h2>Team Capt</h2>
  *Required
 <%= f.hidden_field :user_id, :value => current_user.id %>

   <div class="field">
    <%= f.label :teamcapt , "*Team Capt"%><br />
    <%= f.text_field :teamcapt %>
  </div>
   <div class="field">
    <%= f.label :player1 , "*Team Capt Summoner"%><br />
    <%= f.text_field :player1 %>
  </div>  
     <div class="field">
    <%= f.label :email1, "*Team Capt Email"%><br />
    <%= f.text_field :email1 %>
  </div>
 <div class="actions">
 	<%= link_to "  <--- Back ",team_steps_path(:id =>  'new', :team_id => @team.id), :class => 'btn btn-primary' %>
        <%= f.submit "Continue --->",    :class => 'btn btn-primary' %>
  </div>


<%= link_to "  View  Team ",  team_path(@team), :class => 'btn btn-primary' %>
<% end %>
</div>
 </div>
