
<div class="span6 offset4"> 
<div class="center hero-unit">	
<%= form_for @team , url: wizard_path do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> <%= f.hidden_field :user_id, :value => current_user.id %>
*Required 
  <div class="field">
    <%= f.label :name, "*Team Name" %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :tag, "*Team Tag 5 Char Max" %><br />
    <%= f.text_field :tag%>
  </div>
    <div class="field">
    <%= f.label :bio , "Team Bio"%><br />
    <%= f.text_area :bio, rows: 5 %>
  </div>
<%= f.submit, :class => 'btn btn-primary' %>
  </div>
  <%= link_to "  View  Team ",  team_path(@team), :class => 'btn btn-primary' %>
  <% end%>
  
  </div>
