<div class="span6 offset5"> 
<div class="center hero-unit">
<%= form_for @team , url: wizard_path do |f| %>
  <h2>Member 4</h2>
  *Required
 
   <div class="field">
    <%= f.label :name4 , "*Member 4"%><br />
    <%= f.text_field :name4 %>
  </div>
   <div class="field">
    <%= f.label :player4 , "*Member 4 Summoner"%><br />
    <%= f.text_field :player4 %>
  </div>  
     <div class="field">
    <%= f.label :email4, "*Member 4 Email"%><br />
    <%= f.text_field :email4 %>
  </div>
   <div class="actions">
       <%= link_to "  <--- Back ",team_steps_path(:id =>  'play3', :team_id => @team.id), :class => 'btn btn-primary' %>
 <%= f.submit "Continue --->", :class => 'btn btn-primary'  %>
  </div>

<%= link_to "  View  Team ",  team_path(@team), :class => 'btn btn-primary' %>
<% end %>
</div>
</div>
