<div class="span6 offset6"> 

<%= form_for @team , url: wizard_path do |f| %>
  <h2>Member 5</h2>
  *Required
 
   <div class="field">
    <%= f.label :name5 , "*Member 5"%><br />
    <%= f.text_field :name5 %>
  </div>
   <div class="field">
    <%= f.label :player5 , "*Member 5 Summoner"%><br />
    <%= f.text_field :player4 %>
  </div>  
     <div class="field">
    <%= f.label :email5, "*Member 5 Email"%><br />
    <%= f.text_field :email5 %>
  </div>
<%= link_to "  <---Back ",team_steps_path(:id =>  'play4', :team_id => @team.id), :class => 'btn btn-primary' %>
<%= link_to "  Next---> ",team_steps_path(:id =>  'subs', :team_id => @team.id), :class => 'btn btn-primary' %>

<% end %>
</div>