<% provide(:title, @user.name) %>
<h2>
  <%= gravatar_for @user %><%= @user.name %>
  

</h2>
<p id="notice"><%= notice %></p>

<p>
	

</p>
 <div class="center hero-unit">
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %>  
</div>
