<% provide(:title, @user.name) %>
<div class="center hero-unit">

<h2>
  
<%= @user.name %>
  

</h2>
<p id="notice"><%= notice %></p>


 
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>
<p>Teams: 
	</p><% @teams.each do |team| %>
	<% if team.user_id == @user.id  %>
	 <p>
	 	<%= link_to  team.name, team_path(team) %>
	 </p>
	 <% end %>
	 <% end %>

<%= link_to 'Edit', edit_user_path(@user) %>  
</div>
