<div class="center hero-unit">
	
		

<script>
   jQuery(window).on('mercury:ready', function() { Mercury.saveUrl = '/streams/' + <%= @stream.id %> + "/mercury_update"; });
</script>

 
  	
      <div class="content">
  <div id="page_topic" class="mercury-region" data-type="editable" data-method="PUT"  data-mercury='full'>
  <h3>  <%= raw  @stream.name%></h3>
  
  </div>
  </div>
  Twitch Account:
  <div class="content">
  <div id="page_date" class="mercury-region" data-type="editable" data-method="PUT"  data-mercury='full'>
   <%=   @stream.link%> 
  </div>
  </div>
 
   <p>
 
 <p>
 	<% flash='<object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel="'+@stream.link+'bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel='+@stream.link+'&auto_play=true&start_volume=25" /></object><a href="http://www.twitch.tv/'+@stream.link+'" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline; text-align:center;">Watch live video from '+@stream.link+' on www.twitch.tv</a>
  '
 	%>
 	<%= flash.html_safe%>
 	    </p>
  <br />
       <div class="content">
  <div id="page_desc" class="mercury-region" data-type="editable" data-method="PUT"  data-mercury='full'>
    <%= raw @stream.info %> 
  <br />
  </div>
  </div>
 
 
</p>
<br />
<% if current_user != nil%>
	<% if  current_user.admin or current_user.name== @stream.user %> 
	<%= link_to "Edit Twitch Description", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_stream_path(@stream)} %>|
	<%= link_to 'Destroy', @stream, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<% end %>
	<%= link_to 'Back', streams_path %>
<%end %> 
 </div>