<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name , 'Title'%><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dayof , "Date"%><br />
    <%= f.date_select :dayof %>
  </div>  
  Division
    <div class="field">
 <%= f.radio_button :group, 'General', :checked => true %> 
  <%= label :group, 'general' %>
  <%= f.radio_button :group, 'League Of Legends' %>
  <%= label :group, 'League of Legends' %>
  <%= f.radio_button :group, 'FPS' %>
  <%= label :group, 'FPS' %>
    <%= f.radio_button :group, 'Dota 2' %>
  <%= label :group, 'Dota 2' %>  
    <%= f.radio_button :group, 'SCII' %>
  <%= label :group, 'SCII' %>  
      <%= f.radio_button :group, 'Fighting' %>
  <%= label :group, 'Fighting' %>    
  </div>  
  <br />
  <div class="field">
    <%= f.label :start %><br />
    <%= f.time_select :start %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
