
	 <div class="hero-unit">
		<h2 id="month">
  <%= link_to "<<", date: @date.prev_month %>
  <%= @date.strftime("%B %Y") %>   
  <%= link_to ">>", date: @date.next_month %>
</h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
    <ul>
      <% @events_by_date[date].each do |article| %>
        <li><%= link_to article.name, article %>-
        	<% if article.start.hour > 12 %>
		 			<%= article.start.hour - 12 %>:
			
				<% if article.start.min == 0 %>
				  	00 PM
				<% else %>
				
					<%= article.start.min %> PM
				<% end %>
			
			
		<%else%>
		 
			<%= article.start.hour %>:
				<% if article.start.min ==0 %>
				  	00 AM
				<% else %>
				
					<%= article.start.min %> AM
				<% end %>
					
				
      	<% end%>
         
        	</li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
 
</div>
 