<div class="hero-unit">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.name %>
</p>
<p>
  <b>Division:</b>
  <%= @event.type %>
</p>
<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>Dayof:</b>
  <%= @event.dayof %>
</p>

<p>
  <b>Desc:</b>
  <%= @event.desc %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
