<div class="hero-unit">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.name %>
</p>
<p>
  <b>Division:</b>
  <%= @event.group %>
</p>
<p>
  <b>Start:</b>
    	<% if @event.start.hour > 12 %>
		 			<%= @event.start.hour - 12 %>:
			
				<% if @event.start.min == 0 %>
				  	00 PM
				<% else %>
				
					<%= @event.start.min %> PM
				<% end %>
			
			
		<%else%>
		 
			<%= @event.start.hour %>:
				<% if @event.start.min ==0 %>
				  	00 AM
				<% else %>
				
					<%= @event.start.min %> AM
				<% end %>
					
				
      	<% end%>
</p>

<p>
  <b>Date:</b>
  <%= @event.dayof %>
</p>

<p>
  <b>Description:</b>
  <%= raw simple_format @event.desc %>
</p>

<% if  current_user.admin %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', events_path %>
</div>
