<div class="hero-unit">
	
	<%= form_for @rank do |f| %>
	
	<%= f.label :team1 , '1. Team'%>
	<%= f.text_field :team1 %>
	
	<%= f.label :team2 , '2. Team'%>
	<%= f.text_field :team2 %>
	
		<%= f.label :team3 , '3. Team'%>
	<%= f.text_field :team3 %>	
	
		<%= f.label :team4, '4. Team'%>
	<%= f.text_field :team4 %>	
	
		<%= f.label :team5 , '5. Team'%>
	<%= f.text_field :team5 %>
	
		<%= f.label :team6 , '6. Team'%>
	<%= f.text_field :team6 %>	
	
		<%= f.label :team7 , '7. Team'%>
	<%= f.text_field :team7 %>		
	
	<%= f.label :team8 , '8. Team'%>
	<%= f.text_field :team8 %>
	
		<%= f.label :team9 , '9. Team'%>
	<%= f.text_field :team9 %>
		
		<%= f.label :team10 , '10. Team'%>
	<%= f.text_field :team10 %>
		
		<%= f.label :team11 , '11. Team'%>
	<%= f.text_field :team11 %>
		
		<%= f.label :team12 , '12. Team'%>
	<%= f.text_field :team12 %>
		
		<%= f.label :team13 , '13. Team'%>
	<%= f.text_field :team13 %>
	
	<%= f.label :team14 , '14. Team'%>
	<%= f.text_field :team14 %>
	
	<%= f.label :team15 , '15. Team'%>
	<%= f.text_field :team15 %>
	
		<%= f.label :team16 , '16. Team'%>
	<%= f.text_field :team16 %>	
	
		<%= f.label :team17, '17. Team'%>
	<%= f.text_field :team17 %>	
	
		<%= f.label :team18 , '18. Team'%>
	<%= f.text_field :team18 %>
	
		<%= f.label :team19 , '19. Team'%>
	<%= f.text_field :team19 %>	
	
		<%= f.label :team20 , '20. Team'%>
	<%= f.text_field :team20 %>		
	
	<%= f.label :team21 , '21. Team'%>
	<%= f.text_field :team21 %>
	
		<%= f.label :team22 , '22. Team'%>
	<%= f.text_field :team22 %>
		
		<%= f.label :team23 , '23. Team'%>
	<%= f.text_field :team24 %>
		
		<%= f.label :team24 , '24. Team'%>
	<%= f.text_field :team24 %>
		
		<%= f.label :team25 , '25. Team'%>
	<%= f.text_field :team25 %>
		
		<%= f.label :team26 , '26. Team'%>
	<%= f.text_field :team26 %>
	
	<%= f.label :team27 , '27. Team'%>
	<%= f.text_field :team27 %>
	
		<%= f.label :team28 , '28. Team'%>
	<%= f.text_field :team28 %>	
	
		<%= f.label :team29, '29. Team'%>
	<%= f.text_field :team29 %>	
	
		<%= f.label :team30 , '30. Team'%>
	<%= f.text_field :team30 %>
	
		<%= f.label :team31 , '31. Team'%>
	<%= f.text_field :team31 %>	
	
		<%= f.label :team32 , '32. Team'%>
	<%= f.text_field :team32 %>		
	
	<%= f.label :team33 , '33. Team'%>
	<%= f.text_field :team33 %>
	
		<%= f.label :team34 , '34. Team'%>
	<%= f.text_field :team34 %>
		
		<%= f.label :team35 , '35. Team'%>
	<%= f.text_field :team35 %>
		
		<%= f.label :team36 , '36. Team'%>
	<%= f.text_field :team36 %>
		
		<%= f.label :team37 , '37. Team'%>
	<%= f.text_field :team37 %>
		
		<%= f.label :team38 , '38. Team'%>
	<%= f.text_field :team38 %>
	
	<%= f.label :team39 , '39. Team'%>
	<%= f.text_field :team39 %>
	
	<%= f.label :team40 , '40. Team'%>
	<%= f.text_field :team40 %>
	
		<%= f.label :team41 , '41. Team'%>
	<%= f.text_field :team41 %>	
	
		<%= f.label :team42, '42. Team'%>
	<%= f.text_field :team42 %>	
	
		<%= f.label :team43 , '43. Team'%>
	<%= f.text_field :team43 %>
	
		<%= f.label :team44 , '44. Team'%>
	<%= f.text_field :team44 %>	
	
		<%= f.label :team45 , '45. Team'%>
	<%= f.text_field :team45 %>		
	
	<%= f.label :team46 , '46. Team'%>
	<%= f.text_field :team46 %>
	
		<%= f.label :team47 , '47. Team'%>
	<%= f.text_field :team47 %>
		
		<%= f.label :team48 , '48. Team'%>
	<%= f.text_field :team48 %>
		
		<%= f.label :team49 , '49. Team'%>
	<%= f.text_field :team49 %>
		
		<%= f.label :team50 , '50. Team'%>
	<%= f.text_field :team50 %>
		

		
		<%= f.submit %>
	
	<% end %>
	
	</div>
