 <script type="text/javascript" src="jquery.idTabs.min.js"></script>

<div class='hero-unit'>
	<h1>Tamu Season Rankings</h1>
	<div id="navcontainer">
	
<ul class="idTabs">
	 
  <li><a href="#jquery">1-6</a></li> 
  <li><a href="#official">7-12</a></li> 
    <li><a href="#silver">13-18</a></li> 
      <li><a href="#gold">19-24</a></li> 
        <li><a href="#plat">25-30</a></li> 
          <li><a href="#diamond">16-18</a></li> 
      

   </ul>
</div>
<% form_for @rank do |f| %>
<br />
<div id="jquery">
	<b> Courts 1-6</b>
	<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>1.</td> <td><%= f.team1 %></td><td><%= f.team2 %></td><td><%= f.team3 %></td>	
</tr>
<tr>
	<td>2.</td> <td><%= f.team4 %></td><td><%= f.team5 %></td><td><%= f.team6 %></td>
</tr>
<tr>
	<td>3.</td> <td><%= f.team7 %></td><td><%= f.team8 %></td><td><%= f.team9 %></td>
	</tr>
</table>
 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>4.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>5.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>6.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>
 
</div> 
<div id="official">
	<b> Courts 7-12</b>
		<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>7.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>8.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>9.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>
 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>10.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>11.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>12.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>
</div>
<div id="silver">
	<b> Courts 12-18</b>	
	<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>13.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>14.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>15.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>

 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>16.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>17.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>18.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>
</div>
<div id="gold">	
	<b> Courts 1-3</b>
		<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>13.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>14.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>15.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>

 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>16.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>17.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>18.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>
</div>
<div id="plat">
	<b> Courts 19-24</b>
			<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>19.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>20.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>21.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>

 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court</th>	<th></th><th></th><th></th>
<tr>
	<td>22.</td> <td>row 1, cell 1</td><td>row 1, cell 2</td><td>row 1, cel 3</td>	
</tr>
<tr>
	<td>23.</td> <td>row 2, cell 1</td><td>row 2, cell 2</td><td>row 2, cel 3</td>
</tr>
<tr>
	<td>24.</td> <td>row 3, cell 1</td><td>row 3, cell 2</td><td>row 3, cel 3</td>
	</tr>
</table>
</div>
<div id="diamond">
	<b> Courts 1-3</b>
	<table border="1">
		<th>Court</th><th></th><th></th>
<tr>
	<td>1. </td>
	<td>2. </td>
	<td>3.
 	</td>
</tr>
		<tr>
<td>row 1, cell 1</td>
<td>row 1, cell 2</td>
<td>row 1, cel 3</td>
</tr>
<tr>
<td>row 2, cell 1</td>
<td>row 2, cell 2</td>
<td>row 2, cell 3</td>
</tr>
</table>
</div>



<% end %>

	</div>
