 <script type="text/javascript" src="jquery.idTabs.min.js"></script>

<div class='hero-unit'>
	<h1>Tamu Season Rankings</h1>
	<div id="navcontainer">
	
<ul class="idTabs">
	 
  <li><a href="#jquery">1 and 2</a></li> 
  <li><a href="#official">3 and 4</a></li> 
    <li><a href="#silver">5 and 6</a></li> 
      <li><a href="#gold">7 and 8</a></li> 
        
     
      

   </ul>
</div>

<br />
<div id="jquery">
	 
	<br />
	<table style="margin: auto;" border="1" >
	<th>Court 1</th>	 
<tr>
	  <td><%= @rank.team1 %></td> 	
</tr>
<tr>
	 <td><%= @rank.team2 %></td> 
</tr>
<tr>
	  <td><%= @rank.team3 %></td> 
	</tr>
	
</table>
 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court 2</th>	 
<tr>
	  <td><%= @rank.team5 %></td> 
</tr>
<tr>
	 <td><%= @rank.team6%></td> 
</tr>
<tr>
	  <td><%= @rank.team7 %></td> 
	</tr>
	
</table>
 
</div> 
<div id="official">
 
		<br />
	<table style="margin: auto;" border="1" >
	<th>Court 3</th>	 
<tr>
	  <td><%= @rank.team9 %></td> 
</tr>
<tr>
	  <td><%= @rank.team10 %></td> 
</tr>
<tr>
	 <td><%= @rank.team11 %></td> 
	</tr>
 	<tr>
	  <td><%= @rank.team12 %></td> 
	</tr>
</table>
 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court 4</th>	 
<tr>
	  <td><%= @rank.team13 %></td> 
</tr>
<tr>
	  <td><%= @rank.team14 %></td> 
</tr>
<tr>
	  <td><%= @rank.team15 %></td> 
	</tr>
	 
</table>
</div>
<div id="silver"> 
	<br />
	<table style="margin: auto;" border="1" >
	<th>Court 5</th> 
<tr>
	 <td><%= @rank.team17 %></td> 
</tr>
<tr>
	  <td><%= @rank.team18 %></td> 
</tr>
<tr>
	 <td><%= @rank.team19 %></td> 
	</tr>
	 
</table>

 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court 6</th> 
<tr>
	<td><%= @rank.team21%></td>  
</tr>
<tr>
	<td><%= @rank.team22%></td>  
</tr>
<tr>
	<td><%= @rank.team23%></td>  
	</tr>
	<tr>
	<td><%= @rank.team24 %></td>  
	</tr>
</table>
</div>
<div id="gold">	

		<br />
	<table style="margin: auto;" border="1" >
	<th>Court 7</th>	

<tr>
	<td><%= @rank.team25%></td>  
	
</tr>
<tr>
	<td><%= @rank.team26%></td>  
</tr>
<tr>
	<td><%= @rank.team27%></td>  
	</tr>
	<tr>
	<td><%= @rank.team28%></td>  
	</tr>
</table>

 
 	<br />
	<table style="margin: auto;" border="1" >
	<th>Court 8</th>	 
<tr>
	<td><%= @rank.team29%></td>  
</tr>
<tr>
	<td><%= @rank.team30%></td>
</tr>
<tr>
	<td><%= @rank.team31%></td>
	</tr>
	<tr>
	<td><%= @rank.team32%></td>  
	</tr>
</table>
</div> 



	</div>
