 <script type="text/javascript" src="jquery.idTabs.min.js"></script>
<div class="hero-unit">
<%= form_for(@player) do |f| %>
 
               	<% if @player.id == 1%>
	<h1> TAMU Player List</h1>
	<% else %>
	<h1>People Searching For a Team</h1>
	<% end %>
	<br />
	<div id="navcontainer">
		
<ul class="idTabs">
	 
  <li><a href="#jquery">Unranked</a></li> 
  <li><a href="#official">Bronze</a></li> 
    <li><a href="#silver">Silver</a></li> 
      <li><a href="#gold">Gold</a></li> 
        <li><a href="#plat">Plat</a></li> 
          <li><a href="#diamond">Diamond</a></li> 
      

   </ul>
</div>
<br />
<div id="jquery">
	
	<b>Unranked</b><p>
		<% if current_user != nil %>
	<%= f.text_area :unranked %>
	<% else %>
		 <%= simple_format best_in_place @player, :unranked %> 
	<% end%>
	
</p></div> 
<div id="official">
	<b>Bronze</b><p>
		<% if current_user != nil %>
	<%= f.text_area :unranked %>
	<% else %>
		 <%= simple_format best_in_place @player, :unranked %> 
	<% end%>
</p></div>
<div id="silver">
	<b>Silver</b><p>
		<% if current_user != nil %>
	<%= f.text_area :silver %>
	<% else %>
		 <%= simple_format best_in_place @player, :silver %> 
	<% end%>
</p></div>
<div id="gold">	<b>Gold</b><p>

		<% if current_user != nil %>
	<%= f.text_area :gold %>
	<% else %>
		 <%= simple_format best_in_place @player, :gold %> 
	<% end%>
</p></div>
<div id="plat">
	<b>Plat</b><p>
				<% if current_user != nil %>
 	<%= f.text_area :plat %>
	<% else %>
 	 <%= simple_format best_in_place @player, :plat %> 
	<% end%>

	

	 
</p></div>
<div id="diamond">
	<b>Diamond</b><p>
	
					<% if current_user != nil %>
 <%= f.text_area :diamond   %>
	<% else %>
 	 <%= simple_format best_in_place @player, :diamond %> 
	<% end%>
	
</p></div>
					<% if current_user == nil %>

 Sign in using Facebook on the Top Right to change
	<% end%>
<% end %>
 
 
 
 
 	



</div>


 
	

