<div class="hero-unit">
	<h1> TAMU Player List</h1>
	<br />
		<p>
  <b>Unranked:</b>
 <%= simple_format(@player.unranked) %>
</p>
	<p>
  <b>Bronze:</b>
  <%= simple_format(@player.bronze) %>
</p>
	<p>
  <b>Silver:</b>
   <%= simple_format(@player.silver) %>
</p>
	<p>
  <b>Gold:</b>
  <%= simple_format(@player.gold) %>
</p>
	<p>
  <b>Plat:</b>
  <%= simple_format(@player.plat) %>
</p>
	<p>
  <b>Diamond:</b>
 <%= simple_format(@player.diamond) %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %>  
	</div>
