
<div class="hero-unit">
<h1>Listing posts</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>Body</th>
    <th>Creator</th>
    <th>Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</div>>
<% @posts.each do |post| %>
<div class='hero-unit'>
  <tr>
    <td><%=  raw post.topic %></td>
    <td><%=  raw post.body %></td>
    <td><%= post.name %></td>
    <td><%= post.created %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
