 <div class='hero-unit'>
	  <h3>Edit A Report</h3>

   <% if current_user.name == 'khoa' || current_user.id == user.id %>
<%= form_for @report ,:html => {:multipart => true } do |f| %>


 
  <%= f.hidden_field :creator_id, :value => current_user.id %>
*Required 
  <div class="field">
    <%= f.label :teams ,"*Teams Played"%><br />
    <%= f.text_field :teams %>
  </div>
  <div class="field">
    <%= f.label :winner,"*Winner" %><br />
    <%= f.text_field :winner %>
  </div> 

   <%= f.label  :dayof, ' *Date  Played' %>
 

<%= f.text_field :dayof, :class => 'auto-kal' %>
  
 <%= f.label :avatar1, "Game 1"%> 
 <%= f.file_field :avatar1 %>
   <p>
 
  </p>
  <%= f.label :avatar2, "Game 2"%> 
  <%= f.file_field :avatar2 %>
     <p> 
 
  </p>
  <%= f.label :avatar3, "Game 3"%>
  <%= f.file_field :avatar3 %> 
     <p>
   <div class="field">
        <%= f.label :desc, "Extra Info" %><br />
      <%= f.text_area :desc %>
      </div> 
      
     <%= f.submit "Send Report", class: "btn btn-large btn-primary" %>
     <br />
  <%= link_to 'cancel', root_path %>
  <% end %>
  </div>
  </div>
<% end %>  