 <div class='hero-unit'>
	  <h3>Edit A Report</h3>

   <% if current_user.admin|| current_user.id == user.id %>

   <div class="field">
    <%= f.label :team1,"*Your Team" %><br />
    <%= f.text_field :team1 %>
  </div> 
    <div class="field">
    <%= f.label :team2,"*Other Team" %><br />
    <%= f.text_field :team2 %>
  </div> 
  <%= f.hidden_field :name, :value => current_user.name %>
*Required 

  <div class="field">
    <%= f.label :winner,"*Winner Game 1" %><br />
    <%= f.text_field :winner %>
  </div> 
    <div class="field">
    <%= f.label :game3,"*Winner Game 2" %><br />
    <%= f.text_field :game3 %>
  </div> 
 <br />
   <%= f.label  :dayof, ' *Date  Played' %> 
<%= f.date_select :dayof  %>
<br />
Copy the url from quickfind.kassad.in
<%= f.label :game1, "spectate url to game 1" %>
<%= f.text_field :game1 %>
<%= f.label :game2, "spectate url to game 2" %>
<%= f.text_field :game2 %>

<br />

   <div class="field">
        <%= f.label :desc, "Extra Info" %>

      <%= f.text_area :desc, rows: 5 %>
      </div> 
  <br />    
     <%= f.submit "Send Report", class: "btn btn-large btn-primary" %>
     <br />
  <%= link_to 'cancel', root_path %>
  </div>
  </div>
   
<% end %>
