 
	<div class="hero-unit">
 
<h1>Listing Matches</h1>

<table>
  <tr>
    
    <th>Date  |</th> 
    <th>Game 1</th>
    <th>Game 2 |</th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |user| %>
  <tr><td><%= user.dayof %> |</td>
    
    
<td><%= user.winner%> | </td>
<td><%= user.teams %> |</td>
    <td><%= link_to '   Show  |', user %></td>
    <% if current_user.admin || current_user.id == user.id %>
    <td><%= link_to 'Edit     |', edit_report_path(user) %></td>
    <% end %>
    <% if current_user.name == 'khoa'%>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  	<% end %>
  </tr>
<% end %>
</table>

<br /> 
</div> 