 <div class='hero-unit'>
	  <h3>Submit A Report</h3>

  
<%= form_for @report ,:html => {:multipart => true } do |f| %>


 
  <%= f.hidden_field :creator_id, :value => current_user.id %>
*Required 

  <div class="field">
    <%= f.label :winner,"*Winner" %><br />
    <%= f.text_field :winner %>
  </div> 
  <div class="field">
    <%= f.label :teams ,"*Loser"%><br />
    <%= f.text_field :teams %>
  </div>
   <%= f.label  :dayof, ' *Date  Played' %>
 

<%= f.text_field :dayof, :class => 'auto-kal' %> 

 <%= f.label :game1, "Game 1"%> 
 <%= f.file_field :game1 %>
   <p>
    <%= f.label :remote_game1_url, "or image URL" %>
    <%= f.text_field :remote_game1_url %>
  </p>
  <%= f.label :game2, "Game 2"%> 
  <%= f.file_field :game2 %>
     <p>
    <%= f.label :remote_game2_url, "or image URL" %>
    <%= f.text_field :remote_game2_url %>
  </p>
  <%= f.label :game3, "Game 3"%>
  <%= f.file_field :game3 %> 
     <p>
    <%= f.label :remote_game3_url, "or image URL" %>
    <%= f.text_field :remote_game3_url %>
  </p>
   <div class="field">
        <%= f.label :desc, "Extra Info" %>

      <%= f.text_area :desc, rows: 5 %>
      </div> 
  <br />    
     <%= f.submit "Send Report", class: "btn btn-large btn-primary" %>
     <br />
  <%= link_to 'cancel', root_path %>
  </div>
  </div>
  
<% end %>  