 <div class='dbox'>
	  <h1>Show</h1>

   <body>
   
 
  	<span style=" font-weight: normal; font-size:20px; "> 
  
    Teams Played:  <%= @report.teams %><br /><br />
 
    Winner:   <%= @report.winner %><br /><br />
    
 

 Date played:   <%= @report.dayof%> 
 
  Game url : <%= @report.game1%><br />
  <%= @report.game2%>
  <br />
  <%= @report.game3%>
<br /> <br />
      Extra Info   <br />
 <%= @report.desc%> 
     <br /></span>
  <%= link_to 'home ', root_path %>
  </div></body>
  </div> 