
 <div class='hero-unit'>
	  <h1>Show</h1>

   <body> 
  	<span style=" font-weight: normal; font-size:20px; "> 
  Reporter's team: <%= @report.team1%><br />
  Other Team: <%= @report.team2 %> <br />
 
 
    Game Winner:   <%= @report.winner %><br /><br />
       
 

 Date played:   <%= @report.dayof%> <br />
 Url from quickfind.kassad.in<br />
 <p>
<%= raw @report.game1 %> </p>
<p>
<%= raw @report.game2 %> </p>
<p>
<%= raw @report.game3 %></p>

<br />

  Game  :<br />
   <%= image_tag @report.avatar1.url(:medium)%>
 
  <br />
   <br />
     <%= image_tag @report.avatar2.url(:medium)%>
  <br />
    <%= image_tag @report.avatar3.url(:medium)%>
<br /> <br />
      Extra Info:   <br />
 <%= raw @report.desc%>
 <br />
 <% if @report.name.blank? == false %>
 Report Submitter <%= @report.name %> 
 <% end %>
     <br /></span>
     <%= link_to 'Edit', edit_report_path(@report) %> |
     <%= link_to 'All', report_path(@report) %> |
  <%= link_to 'Home ', root_path %>
  </div></body>
  </div> 