 <div class='hero-unit'>
	  <h1>Show</h1>

   <body>
   
 
  	<span style=" font-weight: normal; font-size:20px; "> 
  
 
 
    Winner:   <%= @report.winner %><br /><br />
       Loser:  <%= @report.teams %><br /><br />
 

 Date played:   <%= @report.dayof%> <br />
 
  Game  :<br />
   
  <%= image_tag @report.game1_url(:thumb).to_s %>
  <br />
  
   <%= image_tag @report.game2_url(:thumb).to_s %>
  <br />
   <%= image_tag @report.game3_url(:thumb).to_s %>
<br /> <br />
      Extra Info:   <br />
 <%= @report.desc%> 
     <br /></span>
  <%= link_to 'home ', root_path %>
  </div></body>
  </div> 