 <div class='hero-unit'>
	  <h1>Show</h1>

   <body>
   
 
  	<span style=" font-weight: normal; font-size:20px; "> 
  
 
 
    Game 1:   <%= @report.winner %><br /><br />
      Game 2:  <%= @report.teams %><br /><br />
 

 Date played:   <%= @report.dayof%> <br />
 
  Game  :<br />
   <%= image_tag 'tamulol2013/'+@report.avatar1.url(:square) %>
 
  <br />
  
     <%= image_tag @report.avatar2.url(:square) %>
  <br />
      <%= image_tag @report.avatar3.url(:square) %>
<br /> <br />
      Extra Info:   <br />
 <%= @report.desc%> 
     <br /></span>
     <%= link_to 'edit', edit_report_path(@report) %>
  <%= link_to 'home ', root_path %>
  </div></body>
  </div> 