<div class="container" style="width: 80%; position: relative; ">
	<div class="hero-unit" >
 <div class="sponsers">
 	
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> 
    <%= link_to image_tag("tespa.png", alt:'Tespa'), 'http://tespa.org' %>
    <!-- <%= link_to image_tag("Riot_logo.png", alt: "Riot" ), 'http://www.riotgames.com/' %> -->
 
 
  </div>
    <ul>
      <%= link_to "About | ",   "/about" %>
      <%= link_to "Contact   ", "/contact" %>

       <% if signed_in? %>
          <%= link_to "   |Send Message", '/sendmessage' %>
      
       <% end %>
    </ul>
     
     </div>
     </div>