<footer class="footer">


 <div class="sponsers">
 	
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> 
    <!-- <%= link_to image_tag("Riot_logo.png", alt: "Riot" ), 'http://www.riotgames.com/' %> -->
 
  </div>
  
    <ul>
      <li><%= link_to "About | ",   "/about" %></li>
      <li><%= link_to "Contact   ", "/contact" %></li>

       <% if signed_in? %>
         <li> <%= link_to "   |Send Message", '/sendmessage' %></li>
      
       <% end %>
    </ul>
    
   
</footer>