<script type="text/javascript" src="jquery-1.3.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
            $("body").css("display", "none");
            $("body").fadeIn(2000);
    });
</script>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TAMULeague", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
        	  
          
                    <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	Events
              	<b class="caret"></b>
              </a>
              	              <ul class="dropdown-menu">
                <li><%= link_to "Current Events", '/soon'%></li>
                                  
             
                 
                <li>  <%= link_to "Fall 2013 Toury", '/soon'%></li>
                  
                   <!-- <li>    <%= link_to "Graphics2", '#' %>  </li> -->
              
            <li class="divider">
                <li><%= link_to "Past Events", '/soon' %></li>
                
                      </li>
                <li>
                  <%= link_to "Spring 2013 Toury",'/soon' %>
                </li>
                    <li class="divider"> </li>
                <li> <%= link_to "Duno", '/soon' %></li>
                
 				    <li>	<%= link_to "Stuff", '/soon'%></li>
              </ul>
   <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	Toury
              	<b class="caret"></b> </a>
              	<ul class="dropdown-menu">
          <li><%= link_to "Rules", '/soon'%></li>
          <li><%= link_to "Stuff", '/soon' %></li>
          <li><%= link_to "Stuff", '/soon'%></li>
          <li><%= link_to "Filleer", '/soon'%></li>
          
           </ul>
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	Player Info
              	<b class="caret"></b> </a>
              	<ul class="dropdown-menu">
          <li><%= link_to "Tamu Players",'/soon'%></li>
          <li><%= link_to "Offical Stream", '/soon'%></li>
          <li><%= link_to "Streamer List", '/soon' %></li>
          <li><%= link_to "Filleer", '/soon' %></li>
          
           </ul>
            
          <% if signed_in? %>
                     	<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	Teams
              	<b class="caret"></b> </a>
              	<ul class="dropdown-menu">
          <li><%= link_to "Create A Team", '/teamnew' %></li>
          <li><%= link_to "View Your Team", '/contact' %></li>
          <li><%= link_to "Edit Your Team", '/soon' %></li>
          <li><%= link_to "View All Teams", '/soon' %></li>
          
           </ul>
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	Buy shit
              	<b class="caret"></b> </a>
              	<ul class="dropdown-menu">
          <li><%= link_to "Shirt", '/soon' %></li>
          <li><%= link_to "Shit", '/soon'%></li>
          <li><%= link_to "Shit",'/soon' %></li>
          <li><%= link_to "Shit", '/soon' %></li>
          
           </ul>
            
           <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Logged in as <%=   current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              
                
                  <li> <%= link_to "View Messages", '/index' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
                
              </ul>
            </li>
          <% else %>
         
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>