<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=612482575446579";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
            $("body").css("display", "none");
            $("body").fadeIn(1000);
    });
</script>


<script type="text/javascript">
$(document).ready(function() {
   $('#nav').localScroll({duration:800});
});
</script>

 
  
<link href="custom.css" rel="stylesheet" type="text/css" />
	 
 
    	<div class="container" style="margin-left: 50%">
    	  <a href="http://amesports.org">  <img src="../../logo85.png" alt="http://amesports.org/" id= "logo"></a>   
      	 <%= link_to "TAMU Esports", '/reset', id: "logo" %> 
      	</div>
      	 
       <nav>
      	 

	<ul>
 <li>  <a>About Us<b class="caret"></b></a> 
 	<ul>
		<li> <%= link_to "About Us", '/about'%></li>
		<li><%= link_to "Officers", '/officers'%></li>
		
			</ul>
			
		</li>
		<li>
				<%= link_to("Calendar", '/events') %>
			
			
		</li>
			<li><a href="#">Events<b class="caret"></b></a>
			<ul>
				<li>Past Events</li>
		 <li>
                  <%= link_to "Spring 2013 Tournament",'/spring2013' %>
                </li>
                       <li>
                  <%= link_to "Tokyo in Tulsa 2013  ",'/tulsa2013' %>
                </li>
                  <li> <%= link_to "Game Republik", '/gamerep' %></li>

			</ul>
		</li>
		<li><a href="#">LoL Season<b class="caret"></b></a>
			<ul>
				<li><%= link_to "Season Rules", '/rules'%></li>
				<li> <%= link_to 'Season Rankings', '/ranks/1'%></li>
                <li><%= link_to "Tamu Players",'/players/1'%></li> 
          <li><%= link_to "Official Stream", '/off_stream'%></li>
          <li><%= link_to "Streamer List", '/streams' %></li>

			</ul>
		</li>
		<li><a href="#">Raid Call<b class="caret"></b></a>
			<ul>
				 <li> <%= link_to "Raid Call Rules", '/raid'%></li>
              	<li><%= link_to "Report Rail Call match", '/raids/new'%></li>
              	<li><%= link_to "View Raid Reports",'/raids' %></li>
              	<li> <a href="https://docs.google.com/spreadsheet/ccc?key=0AhLUWB4JDngBdEYyT0tiX3djZlhVYmR6VTQzYUJBX1E&usp=sharing#gid=2" >Raid Call Standings </a></li>
				
				
				
				
				</ul>
		</li>
		<% if signed_in? %>
		
		<li>
		
		<a>Teams <b class="caret"></b></a>
		<ul>
			<% if current_user.hasteam(current_user.id)==true %>
				<li><%= link_to "View Your Team", '/listteam' %></li>
             <% else %>
              		 <li><%= link_to "Create A Team", '/teamnew' %></li>
			<% end %>
			<li><%= link_to "View All Teams", teams_path %></li>
          
            <li><%= link_to "Submit A Match", '/reportnew' %></li>
               <li><%= link_to "View Match Reports", '/allreport' %></li>		
			</ul>
		
		</li>
		<li><a>Store	<b class="caret"></b></a>
			<ul>
				 <li><%= link_to "Shirt", '/shirt' %></li>
          <a>Tournaments  </a>
          <br />
        <li> <a href="https://secure.touchnet.com/C21490_ustores/web/product_detail.jsp?PRODUCTID=4456"> Pay for Team</a></li> 
          <li> <a href="https://secure.touchnet.com/C21490_ustores/web/product_detail.jsp?PRODUCTID=4457"> Pay for Raid Call</a></li>
		</ul>
		</li>
		 
		<li>
			<a>
				  <%=   current_user.name %> <b class="caret"></b>
			</a>
			<ul>
				<li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li> <%= link_to "Add Stream", '/stream/new'%></li>
               <% if current_user.admin %>
               		<li><%= link_to "Add Event",  '/newevent'  %></li>
                  	<li> <%= link_to "View All Users", users_path %></li>
         			 <li><%= link_to "Admin", '/admin' %></li> 
          			 <li><%= link_to "View Messages", '/messages' %></li>
           			  <li><%= link_to "Edit Rankings", '/ranks/1/edit' %></li>  
        		  <% end %>
				<li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
			</ul>
		 </li>	
		 
		 <% else %>		
		  <li><%= link_to "Facebook Signin", "/auth/facebook", id: "sign_in" %></li> 
<% end%>
	</ul>
</nav> 
 
</header>