<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    

  </head>

    <body>

        <%= render 'layouts/header' %>
           <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            	<li class="active"><a href="http://www.facebook.com/TAMULeagueOfLegends">Offical Facebook</a> </li>
            	<li>RaidCall:  6544408</li>
              <li class="nav-header">Streams</li>
              <li><a href="off_stream">Offical Stream</a></li>
              <li><a href="/nocx">Nocx</a></li>
              <li><a href="/anariil">Anariil</a></li>
              <li><a href="/zehtsu">Zehtsu</a></li>
              <li><a href="/rainbow">Rainbowrevolver</a></li>
              <li><a href="/epicshots">Epicshots</a></li>
    			
              <li><a href="/jay">JAY jones</a></li>
              <li class="nav-header">Events</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li> 
              </ul>
            
          </div><!--/.well -->
        </div><!--/span-->
    <div class="container">
    	<p class= "notice">
    		 <%= notice %></p> 
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    
      
    </div>
  </body>
  





</html><%= render 'layouts/footer'%>