<!DOCTYPE html>

<html>
 
    <title><%= full_title(yield(:title)) %></title>
    
  <%= favicon_link_tag  "icon.jpg" %>
  
    <%= stylesheet_link_tag    "application", media: "all" %>
    
    <%= javascript_include_tag "application" %>
 

    <%= csrf_meta_tags %>
    
 
  <%= render 'layouts/header' %>

    <body>

      
           <div class="container-fluid  container-height">
      <div class="row-fluid full-height">
        <div class="span2" style ="width: 200px; ">
          <div class="well sidebar-nav">
            <ul class="nav nav-list"> 
            		 <a href="https://www.facebook.com/TAMULeagueOfLegends">  <img src="../../fb2.png" alt="http://amesports.org/"></a>   
            		   <a href="https://twitter.com/tamuleague">  <img src="../../t.png" alt="http://amesports.org/" ></a>   
            		 	
            		 	
            		 	<br />
            		 	<br /> 
            	    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=212715052108961&amp;xfbml=1"></script><fb:like href="https://www.facebook.com/TAMULeagueOfLegends" send="false" layout="button_count" width="50" show_faces="false" font=""></fb:like>
            </li>
            	<li>TAMU RaidCall:  6544408</li>
            	<li><a href="off_stream">Official Stream</a></li>
              <li class="nav-header">Online Streams</li>
 
      <% Stream.all.each do | f|%>
      <% name=f.link %>
      	 
<li> <%= link_to f.link,f %>
</li>
       
      <% end %>
              
              <li class="nav-header">Events</li>
              <li><a href="/spring2013">Spring 2013 Live Event</a></li>
              <li><a href="/tulsa2013">Tokyo in Tulsa</a></li> 
                </ul>
            
         </div><!--/.well -->     
          
           
      
 
<a class="twitter-timeline"  href="https://twitter.com/TAMULeague"  data-widget-id="370361920311660544">Tweets by @TAMULeague</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

 

        </div><!--/span-->

    <div class="container" style="margin-left: 220px;  ">
    	<div class="wrapper">
   
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
       
      <% end %>



      <%= yield %>
      <div class="push"></div>
   
      <div class="container">
        <div class="footer" >
  <%= render 'layouts/footer' %>

   
   </div>
      </div> 
      </div>
         </div> 


 
           </div> 
</div>
  
          
            

      



  


  </body>
  





</html>